@inject IViewLocalizer Localizer


@model ProductViewModel
<!-- Page Body start -->
<div class="page-body-wrapper">
    <div class="page-body">
        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 m-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>@Localizer["MəhsulMəlumatı"]</h5>
                                    </div>

                                    <form asp-area="Admin" asp-controller="Product" asp-action="AddProduct" enctype="multipart/form-data" class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Məhsulun adı</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Name" class="form-control" type="text" placeholder="Məhsulun adı">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Kateqoriya</label>
                                            <div class="col-sm-9">
                                                <select id="Region" asp-for="CategoryID" asp-items="@ViewBag.categoryList" class="js-example-basic-single w-100">
                                                    <option value="">Kateqoriya seçin</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Marka/Brend</label>
                                            <div class="col-sm-9">
                                                <select asp-for="BrandID" asp-items="@ViewBag.brandList"  class="js-example-basic-single w-100">
                                                    <option value="">Brand seçin</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Teqlər</label>
                                            <div class="col-sm-9">
                                                <div class="bs-example">
                                                    <input type="text" class="form-control" placeholder="Etiket yazın və enter düyməsini basın" id="#inputTag" data-role="tagsinput">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Geri qaytarıla bilər</label>
                                            <div class="col-sm-9">
                                                <label class="switch">
                                                    <input type="checkbox" asp-for="Refundable"><span class="switch-state"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Şəkillər</label>
                                            <div class="col-sm-9">
                                                <input class="form-control form-choose" type="file" asp-for="Photo" multiple>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Video</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" asp-for="Video" placeholder="Video linki">
                                            </div>
                                        </div>
                                         <div class="card">
                                            <div class="card-body">
                                                <div class="card-header-2">
                                                    <h5>Təsvir</h5>
                                                </div>
                                                <div class="theme-form theme-form-2 mega-form">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <label class="form-label-title col-sm-3 mb-0">Məhsulun Təsviri</label>
                                                                <div class="col-sm-9">
                                                                    @* <div id="editor"></div> *@
                                                                    <textarea styles="height: 300px" class="form-control" asp-for="Description">
                                                                    </textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-solid" value="Məhsul əlavə edin" />
                                    </form>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5></h5>
                                    </div>

                                    <form class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Şəkillər</label>
                                            <div class="col-sm-9">
                                                <input class="form-control form-choose" type="file" id="formFile" multiple>
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Miniatür Şəkil</label>
                                            <div class="col-sm-9">
                                                <input class="form-control form-choose" type="file" id="formFileMultiple1" multiple>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Məhsul Videoları</h5>
                                    </div>

                                    <form class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Video Provayderi</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="state">
                                                    <option>Vimeo</option>
                                                    <option>Youtube</option>
                                                    <option>Dailymotion</option>
                                                    <option>Vimeo</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Video Linki</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="Video Linki">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Məhsulların növləri</h5>
                                    </div>

                                    <form class="theme-form theme-form-2 mega-form variants-container">
                                        <button id="addItem" >Məhsul variantları əlavə edin</button>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Seçim Adı</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100 variant-selector" name="state">
                                                    <option>Color</option>
                                                    <option>Size</option>
                                                    <option>Material</option>
                                                    </select>
                                            </div>
                                        </div>

                                        <div class="row align-items-center variant-values">
                                            <hr class="my-2"/>
                                            <label class="variant-name col-sm-3 col-form-label form-label-title">Color</label>
                                        </div>
                                        <div class="row align-items-center variant-values">
                                            <hr class="my-2"/>
                                            <label class="variant-name col-sm-3 col-form-label form-label-title">Size</label>
                                        </div>
                                        <div class="row align-items-center variant-values">
                                            <hr class="my-2"/>
                                            <label class="variant-name col-sm-3 col-form-label form-label-title">Material</label>
                                        </div>
                                    </form>

                                    <a href="javascript:void(0)" class="add-option"><i class="ri-add-line me-2"></i> Başqa bir seçim əlavə edin</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Göndərmə</h5>
                                    </div>

                                    <form class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Weight (kg)</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" placeholder="Weight">
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Ölçüləri (cm)</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="state">
                                                    <option>Length</option>
                                                    <option>Width</option>
                                                    <option>Height</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Məhsulun Qiyməti</h5>
                                    </div>

                                    <form class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Qiymət</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" placeholder="0">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Qiymətə görə müqayisə edin</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" placeholder="0">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Məhsul başına xərc</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="number" placeholder="0">
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Margin:</label>
                                                <span>25%</span>
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Profit:</label>
                                                <span>$5</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Məhsul İnventarı</h5>
                                    </div>

                                    <form class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">SKU</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Stok Statusu</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="state">
                                                    <option>In Stock</option>
                                                    <option>Out Of Stock</option>
                                                    <option>On Backorder</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <table class="table variation-table table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Variant</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">SKU</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Red</td>
                                                <td>
                                                    <input class="form-control" type="number" placeholder="0">
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" placeholder="0">
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" placeholder="0">
                                                </td>
                                                <td>
                                                    <ul class="order-option">
                                                        <li>
                                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal"><i class="uil uil-trash-alt"></i></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Blue</td>
                                                <td>
                                                    <input class="form-control" type="number" placeholder="0">
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" placeholder="0">
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" placeholder="0">
                                                </td>
                                                <td>
                                                    <ul class="order-option">
                                                        <li>
                                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal"><i class="uil uil-trash-alt"></i></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Məhsulları əlaqələndirin</h5>
                                    </div>

                                    <form class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Yüksək satışlar</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="search">
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Çapraz satışlar</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="search">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Lorem, ipsum dolor.</h5>
                                    </div>

                                    <div class="seo-view">
                                        <span class="link">https://saytadi.com</span>
                                        <h5>Ən yaxşı qiymətə onlayn alın</h5>
                                        <p>Onlayn sifariş edin və pulsuz çatdırılma əldə edin.</p>
                                    </div>

                                    <form class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Səhifə başlığı</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="search" placeholder="E-commerce">
                                            </div>
                                        </div>

                                        <div class="mb-4 row">
                                            <label class="form-label-title col-sm-3 mb-0">Meta təsviri</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="form-label-title col-sm-3 mb-0">URL handle</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="search" placeholder="https://saytadi.com">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Product Add End -->
        <!-- footer Start -->
        <div class="container-fluid">
            <footer class="footer">
                <div class="row">
                    <div class="col-md-12 footer-copyright text-center">
                        <p class="mb-0">Copyright 2023 © saytadi theme by Lorem</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- footer En -->
    </div>
    <!-- Container-fluid End -->
</div>
<!-- Page Body End -->
<div id="popup-overlay" style="visibility: hidden;">
    <div id="productItemModal" class="card">
        <form class="theme-form theme-form-2 mega-form">
            <div class="card-body">
                <div class="card-header-2">
                    <h5>Məhsulların növləri</h5>
                </div>

                <div id="mb-4 row align-items-center">
                    <label class="form-label-title col-sm-3 mb-0">Məhsul seçin</label>
                    <div class="col-sm-9">
                        <label for="ProductId">@Localizer["Product"]</label>
                        <input type="hidden" for="ProductId" readonly />
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-12">
                        <ul class="variants">
                            <li>Variantlar :</li>
                            <li>
                                <label class="form-check-label m-0" for="Size">Ölçü</label>
                                <input class="checkbox_animated check-it" type="checkbox" value="size" />
                            </li>
                            <li>
                                <label class="form-check-label m-0" for="Color">Rəng</label>
                                <input class="checkbox_animated check-it" type="checkbox" id="Color" value="color" />
                            </li>
                            <li>
                                <label class="form-check-label m-0" for="Material">Material</label>
                                <input class="checkbox_animated check-it" type="checkbox" id="Mat" value="material" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <table class="table">
                <thead class="t-head">
                    <tr>
                        <th id="1st" scope="row">Price</th>
                        <td>Quantity</td>
                        <td>SKU</td>
                    </tr>
                </thead>
                <tbody class="t-body">
                    <tr class="body-row">
                        <th class="1st" scope="row"><input type="text" name[0]="price" placeholder="Qiyməti daxil edin" /></th>
                        <td><input type="text" name[0]="quantity" placeholder="Miqdarı daxil edin" /></td>
                        <td><p>Auto generated SKU</p></td>
                        <input type="hidden" name[0]="sku" value="" />
                    </tr>
                </tbody>
            </table>
            <a class="add-variant"><i class="ri-add-line me-2"></i> Başqa bir seçim əlavə edin</a>
            <div class="buttonContainer">
                <button id="save">Save</button>
                <button id="close">Close</button>
            </div>
        </form>
    </div>
</div>










@section Scripts {
    <script>
        var variants;
        $.get("/Admin/ProductItem/GetVariants", (data) => {
            variants = data;
            val1 = val1.replace('#options#', listOptoins(data.colors));
            val2 = val2.replace('#options#', listOptoins(data.sizes));
            val3 = val3.replace('#options#', listOptoins(data.materials));
        })

        $('#addItem').on('click', (e) => {
            e.preventDefault();
            //$.get("/Admin/ProductItem/AddProductItem?ui-culture=az-AZ", { productid: 'fdfdfdf' }, (data) => showModal(data))
            let modal = document.getElementById('productItemModal');
            showModal(modal);
        })

        const showModal = (modal) => {
             $('#popup-overlay').css({
                    'visibility': 'visible'
             })
             
             modal.style.position = 'relative';
             modal.style.top = '50%';
             modal.style.left = '50%';
             modal.style.width = '1100px';
             modal.style.minHeight = '600px';
             modal.style.maxHeight = '500px';
             modal.style.overflow = 'auto';
             modal.style.transform = 'translate(-50%, -50%)';
             $(modal).css({ 'border': '1px solid black', 'z-index': '9999' });
             $('#popup-overlay').css({ 'opacity': '100%' });


            // let hasColorVariant = $('.variants-container label:contains("Color 1")')[0] != undefined;
            // let hasSizeVariant = $('.variants-container label:contains("Size 1")')[0] != undefined;
            // let hasMaterialVariant = $('.variants-container label:contains("Material 1")')[0] != undefined;


            // const row = $('.body-row');

            //$(`<th class='${e.target.value}'>${e.target.value}</th>`).insertBefore('#1st');

            //const th = document.createElement('th');
            //th.classList.add(`${e.target.value}`);

            //let fc = row.find('.1st');

            //fc[0].parentElement.insertBefore(th, fc[0]);


            //$(modal).find('.t-body').append(row.clone());
 

        }

        var listOptoins = (list) => {
                let row;
                for (let i = 0; i < list.length; i++) {
                    row += `\r\n<option>` + list[i] + `</option>`
                }
                return row;
            }


        var val1 = `<div class="bs-example">
                        <select class="js-example-basic-single w-100" name="state">
                            #options#
                        </select>
                    </div>`;
        var val2 = `<div class="bs-example">
                        <select class="js-example-basic-single w-100" name="state">
                            #options#
                        </select>
                    </div>`;
        var val3 = `<div class="bs-example">
                        <select class="js-example-basic-single w-100" name="state">
                            #options#
                        </select>
                    </div>`;

        // var val1 = `<div class="row mt-1 align-items-center variant-values">
        //                    <label class="col-sm-3 col-form-label form-label-title">#value-here#</label>
        //                    <div class="col-sm-9">
        //                        <div class="bs-example">
        //                            <select class="js-example-basic-single w-100" name="state">
        //                                #options#
        //                            </select>
        //                        </div>
        //                    </div>
        //                </div>`;
        // var val2 = `<div class="row mt-1 align-items-center variant-values">
        //         <label class="col-sm-3 col-form-label form-label-title">#value-here#</label>
        //         <div class="col-sm-9">
        //             <div class="bs-example">
        //                 <select class="js-example-basic-single w-100" name="state">
        //                     #options#
        //                 </select>
        //             </div>
        //         </div>
        //     </div>`;
        // var val3 = `<div class="row mt-1 align-items-center variant-values">
        //             <label class="col-sm-3 col-form-label form-label-title">#value-here#</label>
        //             <div class="col-sm-9">
        //                 <div class="bs-example">
        //                     <select class="js-example-basic-single w-100" name="state">
        //                         #options#
        //                     </select>
        //                 </div>
        //             </div>
        //         </div>`;

        // let ic = 0;
        // let is = 0;
        // let im = 0;
        // $('.add-option').on('click', (e) => {
        //     e.preventDefault();
        //     var text = $('.variant-selector')[0].options[$('.variant-selector')[0].selectedIndex].text;
        //     const template = document.createElement('template');

        //     switch (text.toLowerCase()) {
        //         case 'color':
        //             ic++;
        //             template.innerHTML = val1.replace('#value-here#', text + ' ' + ic);
        //             const resultc = template.content.children;

        //             $('.variant-values label:contains("Color"):last').parent().after($(resultc));
        //             break;
        //         case 'size':
        //             is++;
        //             template.innerHTML = val2.replace('#value-here#', text + ' ' + is);
        //             const results = template.content.children;

        //             $('.variant-values label:contains("Size")').last().parent().after($(results));
        //             break;
        //         case 'material':
        //             im++;
        //             template.innerHTML = val3.replace('#value-here#', text + ' ' + im);
        //             const resultm = template.content.children;

        //             $('.variant-values label:contains("Material")').last().parent().after($(resultm));
        //             break;
        //     }
        // })
        
        
        
        //---------------------------------------------------


        document.getElementsByClassName('checkbox_animated').forEach((e) => {
            e.addEventListener('change', e => {
                if (e.target.checked) {
                    $(`<th class='${e.target.value}'>${e.target.value}</th>`).insertBefore('#1st');
                    document.getElementsByClassName('1st').forEach(function (fc, i) {
                        const th = document.createElement('th');
                        th.classList.add(`${e.target.value}`);
                        if (e.target.value == 'color') {
                            th.innerHTML = val1.replace('name', `name[${i}]`).replace('state', `color`);
                        }
                        else if (e.target.value == 'size') {
                            th.innerHTML = val2.replace('name', `name[${i}]`).replace('state', `size`);
                        }
                        else {
                            th.innerHTML = val3.replace('name', `name[${i}]`).replace('state', `material`);
                        }
                        fc.parentElement.insertBefore(th, fc);
                    })
                }
                else
                    $(`.${e.target.value}`).each(function () { $(this).remove() });

            })
        });


        let index = 0;

                     
        $('.add-variant').on('click', (e) => {
            index +=1;
            let row = $('.body-row')[0].innerHTML;
            $('.t-body')[0].innerHTML += row.replaceAll('name[0]', `name[${index}]`)
        })

    </script>
 }
@section Styles {
    <style>

        #addItem {
            margin: 20px;
            width: 100%;
            background-color: #0ea487;
            display: block;
            margin-inline: auto;
            border: 1px solid aquamarine;
            color: whitesmoke;
            line-height: 35px;
        }

        #popup-overlay {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.685);
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 9998;
            display: block;
            overflow-y: hidden;
            overflow-x: hidden;
        }


        .variants {
            display: flex;
        }

            .variants > li {
                justify-content: normal;
            }

        .variant-name {
            color: #0ea487;
        }


        .table {
            max-height: 700px;
            overflow: auto;
        }

        .buttonContainer {
            position: relative;
            margin-top: 30px;
            height: 100%;
        }

 
        #save {
            position: absolute;
            bottom: 10px;
            right: 90px;
            color: ghostwhite;
            background-color: #0ea487;
            border-radius: 10%;
        }

        #close {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: ghostwhite;
            background-color: #0ea487;
            border-radius: 10%;
        }

    </style>
}