@model CategoryDTO

<!-- tap on top start -->
<div class="tap-top">
    <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper start -->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <div class="page-body">

        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Kateqoriya haqqında məlumat</h5>
                                    </div>

                                    <form asp-controller="Category" asp-action="AddCategory" class="theme-form theme-form-2 mega-form">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Kateqoriya Adı</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Name" class="form-control" type="text" placeholder="Category Name">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <select id="Region" asp-for="ParentCategoryID" asp-items="@ViewBag.categoryList">
                                                <option value="">Choose parent category</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="ParentCategoryID"></span>
                                        </div>
                                        <button type="submit">
                                            <p  class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus-square"></i>Yenisini əlavə et
                                            </p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Product Add End -->
        <!-- footer Start -->
        <div class="container-fluid">
            <footer class="footer">
                <div class="row">
                    <div class="col-md-12 footer-copyright text-center">
                        <p class="mb-0">Copyright 2023 © SaytAdi theme by Lorem</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- footer En -->
    </div>
    <!-- Container-fluid End -->
</div>
<!-- Page Body End -->
    </div>
<!-- page-wrapper End -->
<!-- Modal Start -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Çıxış</h5>
                <p>Çıxmaq istədiyinizə əminsiniz?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">Xeyr</button>
                    <button type="button" class="btn  btn--yes btn-primary">Bəli</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->