@model UserLayoutViewModel
<li class="profile-nav onhover-dropdown pe-0 me-0">
    <div class="media profile-media">
        <img class="user-profile rounded-circle" src="@Url.Content("~/photos/" + Model.ProfilePicture)" alt="Profile picture">

        <div class="user-name-hide media-body">
            <span>@Model.Name</span>
            <p class="mb-0 font-roboto">Admin<i class="middle ri-arrow-down-s-line"></i></p>
        </div>
    </div>
    <ul class="profile-dropdown onhover-show-div">
        <li>
            <a href="~/AdminStatics/all-users.html">
                <i data-feather="users"></i>
                <span>İstifadəçilər</span>
            </a>
        </li>
        <li>
            <a href="~/AdminStatics/order-list.html">
                <i data-feather="archive"></i>
                <span>Sifarişlər</span>
            </a>
        </li>
        <li>
            <a href="~/AdminStatics/support-ticket.html">
                <i data-feather="phone"></i>
                <span>Spports Tickets</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="EditProfile">
                <i data-feather="settings"></i>
                <span>Parametrlər</span>
            </a>
        </li>
        <li>
            <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="javascript:void(0)">
                <i data-feather="log-out"></i>
                <span>Çıxış</span>
            </a>
        </li>
    </ul>
</li>