@using ECommerse.Business.DTO_s;

@{
    ViewData["Title"] = "Create";
}
@model ProductDTO
<h1>Create</h1>

<form asp-action="Create">
    <div class="mb-3 row">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" asp-for="Name">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Adds</button>

</form>
