@{
    ViewBag.title = "Store created";
}

@model StoreModel

<head>
    <!-- meta data -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/AdminStatics/assets/images/favicon.pn" type="image/x-icon">
    <link rel="shortcut icon" href="~/AdminStatics/assets/images/favicon.pn" type="image/x-icon">
    <title>Add New Product</title>

    <!-- Unicons IconScout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/AdminStatics/assets/css/linearicon.css">

    <!-- Fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/font-awesome.css">

    <!-- Themify icon css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/themify.css">

    <!--Dropzon css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/dropzone.css">

    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/feather-icon.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/remixicon.css">

    <!-- Select2 css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/select2.min.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/date-picker.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/bootstrap.css">

    <!-- Bootstrap-tag input css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/bootstrap-tagsinput.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/style.css">
</head>

<!-- tap on top start -->
<div class="tap-top">
    <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper start -->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Body start -->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->

        <div class="page-body">

            <!-- New Product Add Start -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-12 m-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Dükkan məlumatları</h5>
                                        </div>

                                        <form asp-controller="Product" asp-action="AddProduct" class="theme-form theme-form-2 mega-form">
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Dükkan adı</label>
                                                <div class="col-sm-9">
                                                    <input asp-for="Name" class="form-control" type="text" placeholder="MDükkan adı">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Dükkanın təsviri</label>
                                                <div class="col-sm-9">
                                                    <input asp-for="Desription" class="form-control" type="text" placeholder="Dükkanın tesviri">
                                                </div>
                                            </div>



                                            <button class="btn btn-solid" asp-controller="Store" asp-action="CreateStore">Məhsul əlavə edin</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table all-package theme-table table-product" id="table_id">
                            <thead>
                                <tr>
                                    <th>Dükkan adı</th>
                                    <th>Təsviri</th>
                                    <th>Seçim</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewBag.stores is not null)
                                {
                                    @foreach (var product in ViewBag.stores as List<StoreDTO>)
                                    {
                                        <tr>
                                            <td>
                                                <div class="table-image">
                                                    <img src="~/AdminStatics/assets/images/product/1.png" class="img-fluid" alt="">
                                                </div>
                                            </td>

                                            <td>@product.Name</td>

                                            <td>@product.Desription</td>

                                            <td>
                                                <ul>
                                                    <li>
                                                        <a href="order-detail.html">
                                                            <i class="ri-eye-line"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="ri-pencil-line"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- New Product Add End -->
            <!-- footer Start -->
            <div class="container-fluid">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2023 © saytadi theme by Lorem</p>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- footer En -->
        </div>
        <!-- Container-fluid End -->
    </div>
    <!-- Page Body End -->
</div>
<!-- page-wrapper End -->
<!-- Modal Start -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Çıxış</h5>
                <p>Çıxmaq istədiyinizə əminsiniz?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">Xeyr</button>
                    <button type="button" class="btn  btn--yes btn-primary">Bəli</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
<!-- latest js -->
<script src="~/AdminStatics/assets/js/jquery-3.6.0.min.js"></script>

<!-- Bootstrap js -->
<script src="~/AdminStatics/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

<!-- feather icon js -->
<script src="~/AdminStatics/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/AdminStatics/assets/js/icons/feather-icon/feather-icon.js"></script>

<!-- scrollbar simplebar js -->
<script src="~/AdminStatics/assets/js/scrollbar/simplebar.js"></script>
<script src="~/AdminStatics/assets/js/scrollbar/custom.js"></script>

<!-- Sidebar js -->
<script src="~/AdminStatics/assets/js/config.js"></script>

<!-- customizer js -->
<script src="~/AdminStatics/assets/js/customizer.js"></script>

<!-- Plugins js -->
<script src="~/AdminStatics/assets/js/sidebar-menu.js"></script>
<script src="~/AdminStatics/assets/js/notify/bootstrap-notify.min.js"></script>
<script src="~/AdminStatics/assets/js/notify/index.js"></script>

<!-- Data table js -->
<script src="~/AdminStatics/assets/js/jquery.dataTables.js"></script>
<script src="~/AdminStatics/assets/js/custom-data-table.js"></script>

<!-- sidebar effect -->
<script src="~/AdminStatics/assets/js/sidebareffect.js"></script>

<!-- Theme js -->
<script src="~/AdminStatics/assets/js/script.js"></script>