@using ECommerse.WebUI.ViewModels;
@model RoleViewModel
<div style="margin-left: -30px;" class="page-body">
    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Rol Deyisin</h5>
                                </div>
                                <form asp-controller="Role" asp-action="EditRole" class="theme-form theme-form-2 mega-form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row g-sm-4 g-2">
                                        <div class="col-xl-8">
                                            <div class="row roles-form">
                                                <div class="col-12 offset-2">
                                                    <ul>
                                                        <input asp-for="@Model.Id" type="hidden" />
                                                        <li>
                                                            <label class="form-check-label m-0" asp-for="Name"></label>
                                                        </li>
                                                        <li>
                                                            <input class="form-control" type="text" asp-for="Name" />
                                                            <span asp-validation-for="Name" class="text-danger"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary ms-auto mt-4">Yadda saxla</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->
    <!-- footer Start -->
    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">
                        Copyright 2023 © SaytAdi theme by Lorem
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- footer En -->
</div>
<!-- Container-fluid End -->
