<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/AdminStatics/assets/images/favicon.pn" type="image/x-icon">
    <link rel="shortcut icon" href="~/AdminStatics/assets/images/favicon.pn" type="image/x-icon">
    <title>Dashboard</title>

    <!-- Unicons IconScout -->
    <link rel="stylesheet" href="~/AdminStatics/https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/AdminStatics/images/fav.png">
    <!-- Google font-->
    <link href="~/AdminStatics/https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/AdminStatics/assets/css/linearicon.css">

    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/font-awesome.css">

    <!-- Themify icon css-->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/themify.css">

    <!-- ratio css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/ratio.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/remixicon.css">

    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/feather-icon.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/animate.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vendors/bootstrap.css">

    <!-- vector map css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/vector-map.css">

    <!-- Slick Slider Css -->
    <link rel="stylesheet" href="~/AdminStatics/assets/css/vendors/slick.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/AdminStatics/assets/css/style.css">
</head>

<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper m-0">
                <div class="header-logo-wrapper p-0">
                    <div class="logo-wrapper">
                        <a href="~/AdminStatics/index.html">
                            <img class="img-fluid main-logo" src="~/AdminStatics/assets/images/logo/1.pn" alt="SaytAdi">
                            <img class="img-fluid white-logo" src="~/AdminStatics/assets/images/logo/1-white.pn" alt="SaytAdi">
                        </a>
                    </div>
                    <div class="toggle-sidebar">
                        <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                        <a href="~/AdminStatics/index.html">
                            <img src="~/AdminStatics/assets/images/logo/1.pn" class="img-fluid" alt="SaytAdi">
                        </a>
                    </div>
                </div>

                <form class="form-inline search-full" action="javascript:void(0)" method="get">
                    <div class="form-group w-100">
                        <div class="Typeahead Typeahead--twitterUsers">
                            <div class="u-posRelative">
                                <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Saytadi .." name="q" title="" autofocus>
                                <i class="close-search" data-feather="x"></i>
                                <div class="spinner-border Typeahead-spinner" role="status">
                                    <span class="sr-only">Yüklənir...</span>
                                </div>
                            </div>
                            <div class="Typeahead-menu"></div>
                        </div>
                    </div>
                </form>
                <div class="nav-right col-6 pull-right right-header p-0">
                    <ul class="nav-menus">
                        <li>
                            <span class="header-search">
                                <i class="ri-search-line"></i>
                            </span>
                        </li>
                        <li class="onhover-dropdown">
                            <div class="notification-box">
                                <i class="ri-notification-line"></i>
                                <span class="badge rounded-pill badge-theme">4</span>
                            </div>
                            <ul class="notification-dropdown onhover-show-div">
                                <li>
                                    <i class="ri-notification-line"></i>
                                    <h6 class="f-18 mb-0">Bildirişlər</h6>
                                </li>
                                <li>
                                    <p>
                                        <i class="fa fa-circle me-2 font-primary"></i>Çatdırılmanın işlənməsi<span class="pull-right">10 min.</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fa fa-circle me-2 font-success"></i>Sifariş tamamlandı<span class="pull-right">1 hr</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fa fa-circle me-2 font-info"></i>Yaradılmış Biletlər<span class="pull-right">3 hr</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fa fa-circle me-2 font-danger"></i>Çatdırılma Tamamlandı<span class="pull-right">6 hr</span>
                                    </p>
                                </li>
                                <li>
                                    <a class="btn btn-primary" href="javascript:void(0)">Bütün bildirişləri yoxlayın</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="mode">
                                <i class="ri-moon-line"></i>
                            </div>
                        </li>
                        <li class="profile-nav onhover-dropdown pe-0 me-0">
                            <div class="media profile-media">
                                <img class="user-profile rounded-circle" src="~/AdminStatics/assets/images/users/GIT PHOTO.png" alt="">
                                <div class="user-name-hide media-body">
                                    <span>@User.Identity.Name</span>
                                    <p class="mb-0 font-roboto">Admin<i class="middle ri-arrow-down-s-line"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li>
                                    <a href="~/AdminStatics/all-users.html">
                                        <i data-feather="users"></i>
                                        <span>İstifadəçilər</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/AdminStatics/order-list.html">
                                        <i data-feather="archive"></i>
                                        <span>Sifarişlər</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/AdminStatics/support-ticket.html">
                                        <i data-feather="phone"></i>
                                        <span>Spports Tickets</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/AdminStatics/profile-setting.html">
                                        <i data-feather="settings"></i>
                                        <span>Parametrlər</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="javascript:void(0)">
                                        <i data-feather="log-out"></i>
                                        <span>Çıxış</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div id="sidebarEffect"></div>
                <div>
                    <div class="logo-wrapper logo-wrapper-center">
                        <a href="~/AdminStatics/index.html" data-bs-original-title="" title="">
                            <img class="img-fluid for-white" src="~/AdminStatics/assets/images/logo/full-white.pn" alt="logo">
                        </a>
                        <div class="back-btn">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="toggle-sidebar">
                            <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
                        </div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a href="~/AdminStatics/index.html">
                            <img class="img-fluid main-logo main-white" src="~/AdminStatics/assets/images/logo/logo.png" alt="logo">
                            <img class="img-fluid main-logo main-dark" src="~/AdminStatics/assets/images/logo/logo-white.png" alt="logo">
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>

                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"></li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/AdminStatics/index.html">
                                        <i class="uil uil-create-dashboard"></i>
                                        <span>İdarə paneli</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-store-3-line"></i>
                                        <span>Məhsul</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/products.html">Məhsullar</a>
                                        </li>

                                        <li>
                                            <a href="~/AdminStatics/add-new-product.html">Yeni Məhsullar əlavə edin</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="uil uil-user-arrows"></i>
                                        <span>Satıcılar</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/vendor-list.html">Satıcı Siyahısı</a>
                                        </li>

                                        <li>
                                            <a href="~/AdminStatics/create-vendor.html">Satıcı Yaradın</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="uil uil-users-alt"></i>
                                        <span>İstifadəçilər</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/all-users.html">Bütün istifadəçilər</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminStatics/add-new-user.html">Yeni istifadəçi əlavə edin</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-list-check-2"></i>
                                        <span>Kateqoriya</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="Category" asp-action="Index">Kateqoriya siyahısı</a>
                                        </li>

                                        <li>
                                            <a asp-controller="Category" asp-action="AddCategory">Yeni Kateqoriya əlavə edin</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-archive-line"></i>
                                        <span>Sifarişlər</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/order-list.html">Sifariş siyahısı</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminStatics/order-detail.html">Sifariş təfərrüatı</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminStatics/order-tracking.html">Sifariş İzləmə</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="uil uil-list-ui-alt"></i>
                                        <span>Menyu Yaradın</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/menu-lists.html">Menyu siyahısı</a>
                                        </li>
                                        <li>
                                            <a href="~/AdminStatics/create-menu.html">Menyu yaradın</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-list-settings-line"></i>
                                        <span>Atributlar</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/attributes.html">Atributlar</a>
                                        </li>

                                        <li>
                                            <a href="~/AdminStatics/add-new-attributes.html">Atribut əlavə edin</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="uil uil-user-exclamation"></i>
                                        <span>Rollar</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-controller="Role" asp-action="Index">Bütün rollar</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Role" asp-action="AddRole">Rol yarat</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Role" asp-action="AssignRole">Rol ver</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/AdminStatics/media.html">
                                        <i class="uil uil-images"></i>
                                        <span>Media</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-price-tag-3-line"></i>
                                        <span>Kuponlar</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/coupon-list.html">Kupon siyahısı</a>
                                        </li>

                                        <li>
                                            <a href="~/AdminStatics/create-coupon.html">Kupon yaradın</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/AdminStatics/product-review.html">
                                        <i class="uil uil-comments"></i>
                                        <span>Məhsulun nəzərdən keçirilməsi</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/AdminStatics/support-ticket.html">
                                        <i class="uil uil-comment-alt-question"></i>
                                        <span>Dəstək Bileti</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/AdminStatics/invoice.html">
                                        <i class="ri-file-chart-line"></i>
                                        <span>Faktura</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-focus-3-line"></i>
                                        <span>Lokallaşdırma</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/translation.html">Tərcümə</a>
                                        </li>

                                        <li>
                                            <a href="~/AdminStatics/currency-rates.html">Valyuta məzənnələri</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="uil uil-setting"></i>
                                        <span>Parametrlər</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="~/AdminStatics/profile-setting.html">Profil Parametrləri</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/AdminStatics/reports.html">
                                        <i class="ri-file-chart-line"></i>
                                        <span>Hesabatlar</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/AdminStatics/list-page.html">
                                        <i class="ri-list-check"></i>
                                        <span>Siyahı Səhifəsi</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <div style="margin-left: 300px; margin-top: 90px">
                @RenderBody();
            </div>

            <!-- page-wrapper End-->
            <!-- Modal Start -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="modal-title" id="staticBackdropLabel">Çıxış</h5>
                            <p>Çıxmaq istədiyinizə əminsiniz?</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="button-box">
                                <button type="button" class="btn btn--no" data-bs-dismiss="modal">Xeyr</button>
                                <button type="button" class="btn  btn--yes btn-primary">Bəli</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- latest js -->
            <script src="~/AdminStatics/assets/js/jquery-3.6.0.min.js"></script>

            <!-- Bootstrap js -->
            <script src="~/AdminStatics/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

            <!-- feather icon js -->
            <script src="~/AdminStatics/assets/js/icons/feather-icon/feather.min.js"></script>
            <script src="~/AdminStatics/assets/js/icons/feather-icon/feather-icon.js"></script>

            <!-- scrollbar simplebar js -->
            <script src="~/AdminStatics/assets/js/scrollbar/simplebar.js"></script>
            <script src="~/AdminStatics/assets/js/scrollbar/custom.js"></script>

            <!-- Sidebar jquery -->
            <script src="~/AdminStatics/assets/js/config.js"></script>

            <!-- tooltip init js -->
            <script src="~/AdminStatics/assets/js/tooltip-init.js"></script>

            <!-- Plugins JS -->
            <script src="~/AdminStatics/assets/js/sidebar-menu.js"></script>
            <script src="~/AdminStatics/assets/js/notify/bootstrap-notify.min.js"></script>
            <script src="~/AdminStatics/assets/js/notify/index.js"></script>

            <!-- Apexchar js -->
            <script src="~/AdminStatics/assets/js/chart/apex-chart/apex-chart1.js"></script>
            <script src="~/AdminStatics/assets/js/chart/apex-chart/moment.min.js"></script>
            <script src="~/AdminStatics/assets/js/chart/apex-chart/apex-chart.js"></script>
            <script src="~/AdminStatics/assets/js/chart/apex-chart/stock-prices.js"></script>
            <script src="~/AdminStatics/assets/js/chart/apex-chart/chart-custom1.js"></script>


            <!-- slick slider js -->
            <script src="~/AdminStatics/assets/js/slick.min.js"></script>
            <script src="~/AdminStatics/assets/js/custom-slick.js"></script>

            <!-- customizer js -->
            <script src="~/AdminStatics/assets/js/customizer.js"></script>

            <!-- ratio js -->
            <script src="~/AdminStatics/assets/js/ratio.js"></script>

            <!-- sidebar effect -->
            <script src="~/AdminStatics/assets/js/sidebareffect.js"></script>

            <!-- Theme js -->
            <script src="~/AdminStatics/assets/js/script.js"></script>

            <script src="~/AdminStatics/https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js "></script>

            <!-- Modal End -->
        </div>
        <!-- Page Body End -->
    </div>
</body>
</html>