
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="nonavm">
    <meta name="keywords" content="nonavm">
    <meta name="author" content="nonavm">
    <link rel="icon" href="~/assets/images/favicon/1.png" type="image/x-icon">
    <title>Ana Səhifə</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/e_commerce.css">

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/assets/images/fav.png">

    <!-- Unicons IconScout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
    <link href='~/category/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="~/category/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="~/category/css/style.css" rel="stylesheet">
    <link href="~/category/css/responsive.css" rel="stylesheet">
    <link href="~/category/css/night-mode.css" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="~/category/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/category/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="~/category/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/category/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/category/vendor/semantic/semantic.min.css">
</head>

<body class="bg-effect">

    <!-- Loader Start -->
    <!-- <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div> -->
    <!-- Loader End -->

    <header class="header clearfix">
        <button type="button" id="toggleMenu" class="toggle_menu">
            <i class='uil uil-bars'></i>
        </button>
        <button id="collapse_menu" class="collapse_menu">
            <i class="uil uil-bars collapse_menu--icon "></i>
            <span class="collapse_menu--label"></span>
        </button>
        <div class="main_logo" id="logo">
            <a asp-controller="Home"><img src="~/assets/images/logo/1.pn" alt="Sayt logo"></a>
            <a asp-controller="Home"><img class="logo-inverse" src="~/assets/images/logo/1.pn" alt="Sayt Adı ct_logo"></a>
        </div>
        <div class="top-category">
            <div class="ui compact menu cate-dpdwn">
                <div class="ui simple dropdown item">
                    <a href="#" class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
                    <div class="menu dropdown_category5">
                        <a href="sitemap.html#devicon" class="item channel_item">Geyim</a>
                        <a href="sitemap.html#busicon" class="item channel_item">Ayaqqabı</a>
                        <a target="_blank" href="index-9.html" class="item channel_item">Makiyaj</a>
                        <a href="sitemap.html#iticon" class="item channel_item">İdman Məhsulları</a>
                        <a href="sitemap.html#officon" class="item channel_item">Ofis Ləvazimatları</a>
                        <a href="sitemap.html#pericon" class="item channel_item">Saat</a>
                        <a href="sitemap.html#desicon" class="item channel_item">Aksesuarlar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search120">
            <div class="ui search">
                <div class="ui left icon input swdh10">
                    <input class="prompt srch10" type="text" placeholder="Mən axtarıram...">
                    <i class='uil uil-search-alt icon icon1'></i>
                </div>
            </div>
        </div>
        <div class="header_right">
            <ul>
               @if(!User!.Identity!.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="Auth" asp-action="Register" class="btn1542" title="Become an Instructor">Müştəri Qeydiyyatı</a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Register" class="btn1542" title="Become an Instructor">Satıcı Qeydiyyatı</a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Login" style="background-color: #2e35ef;" class="btn1542" title="Become an Instructor">Daxil ol</a>
                    </li>
                }
                <li>
                    <div class="item_f3">
                        <div class="lng_btn2">
                            <div class="ui language2 bottom right pointing dropdown floating" id="languages" data-content="Select Language">
                                <a href="#"><i class='uil uil-globe lft'></i>Dil<i class='uil uil-angle-down rgt'></i></a>
                                <div class="menu">
                                    <div class="scrolling menu">
                                        <div class="item" data-percent="100" data-value="en" data-english="English">
                                            <span class="description">English</span> English
                                        </div>
                                        <!-- <div class="item" data-percent="37" data-value="ru" data-english="Russian">
                                            <span class="description">Русский</span> Russian
                                        </div> -->
                                        <div class="item" data-percent="11" data-value="tr" data-english="Turkish">
                                            <span class="description">Türkçe</span> Turkish
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                @if(User!.Identity!.IsAuthenticated){
                <li>
                    <div class="endirim_cart">
                        <ul>
                            <li>
                                <a target="_blank" href="cart.html" class="option_links" title="cart">
                                    <lottie-player class="menu--icon" style="width: 2.5rem;" src="https://lottie.host/397bfeb6-dd34-4560-b082-d2ee3f11eaee/W7BZJIrTFq.json" background="transparent" speed="1" loop autoplay></lottie-player><span class="noti_count" style="color: white !important;">2</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="wishlist.html" class="option_links" title="cart">
                                    <lottie-player class="menu--icon" style="width: 2.5rem;" src="https://lottie.host/2d0c20ad-04e7-4710-860a-89a1b18fd19e/yeLfCcYrhN.json" background="transparent" speed="0.5" loop autoplay></lottie-player>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    @await Component.InvokeAsync("UserLayout")
                </li>
                }
            </ul>
        </div>
    </header>


    @RenderBody()


    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js "></script>

    <!-- jquery ui-->
    <script src="~/assets/js/jquery-ui.min.js "></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js "></script>
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js "></script>
    <script src="~/assets/js/bootstrap/popper.min.js "></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather/feather.min.js "></script>
    <script src="~/assets/js/feather/feather-icon.js "></script>

    <!-- Lazyload Js -->
    <script src="~/assets/js/lazysizes.min.js "></script>

    <!-- Slick js-->
    <script src="~/assets/js/slick/slick.js "></script>
    <script src="~/assets/js/slick/slick-animation.min.js "></script>
    <script src="~/assets/js/slick/custom_slick.js "></script>

    <!-- Auto Height Js -->
    <script src="~/assets/js/auto-height.js "></script>

    <!-- Timer Js -->
    <script src="~/assets/js/timer1.js "></script>
    <script src="~/assets/js/section_timer_2.js"></script>


    <!-- Fly Cart Js -->
    <script src="~/assets/js/fly-cart.js "></script>

    <!-- Quantity js -->
    <script src="~/assets/js/quantity-2.js "></script>

    <!-- WOW js -->
    <script src="~/assets/js/wow.min.js "></script>
    <script src="~/assets/js/custom-wow.js "></script>

    <!-- script js -->
    <script src="~/assets/js/script.js "></script>

    <script src="~/category/js/vertical-responsive-menu.min.js "></script>
    <script src="~/category/js/vertical-responsive-menu.js "></script>
    <script src="~/category/js/jquery-3.3.1.min.js "></script>
    <script src="~/category/vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="~/category/vendor/OwlCarousel/owl.carousel.js "></script>
    <script src="~/category/vendor/semantic/semantic.min.js "></script>
    <script src="~/category/js/custom.js "></script>
    <script src="~/category/js/night-mode.js "></script>
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js "></script>
    <script src="~/category/js/counter.js "></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>